* {
    margin: 0;
    padding: 0;
}
/* apply styles to <body>*/
body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}
/* apply styles to <header> */
header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: #39a6b2;
  }
  /* apply styles to header h1*/
  header h1 {
      font-weight: bold;
      font-size: 36px;
      color: #fce138;
      margin: 0;
      display: inline;
  }
  /* apply styles to header link */
  header a {
      text-decoration: none;
      color: #fce138;
  }
  /* apply styles to header nav */
  header nav {
      float: right;
      margin-top: 7px;
      margin-bottom: 7px;
      margin-left: 0px;
      margin-right: 0px;
  }
  /* apply styles to header nav list*/
  header nav ul li {
      display: inline;
  }
  /* apply styles to header nav text */
  header nav ul li a {
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: 30px;
      margin-right: 30px;
      font-weight: lighter;
      font-size: 22px;
  }